/* If the screen size is 601px or more, set the font-size of <div> to 1rem */
@media only screen and (min-width: 601px) {
    body {
      font-size: 1rem;
    }
  }

/* If the screen size is 400px or less, set the font-size of <div> to 2rem */
@media only screen and (max-width: 400px) {
    body {
      font-size: 2rem;
    }
  }

body {
    margin: auto;
    padding: 1.5rem;
    text-align: justify;
    font-family: monospace;
    list-style-position: inside;
    background-color:rgb(3, 0, 22);
    color: white;
}

.center {
    text-align: center;
    list-style-position: inside;
  }
.skills > h4 {
    text-decoration: underline;
    color: white;
}
